<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row animate__animated animate__fadeIn">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">Listado De Clientes</h2>
      <div id="custom-search" class="top-search-bar">
        <input
          [formControl]="searchClient"
          class="form-control"
          type="text"
          placeholder="Buscar clientes.."
        />
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row animate__animated animate__fadeIn">
  <!-- ============================================================== -->
  <!-- basic table  -->
  <!-- ============================================================== -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <button
        style="position: absolute; right: 0;"
        class="btn btn-warning text-white ml-auto"
        (click)="restoreClient()"
      >
        Restaurar Cliente
      </button>
      <h5 class="card-header">Informacion del cliente ({{ totalPage }})</h5>
      <div class="card-body">
        <div
          *ngIf="clients.length === 0"
          class="alert alert-primary"
          role="alert"
        >
          No se encuentra registro de cliente en esta pagina.
          <a routerLink="/contable/users">Regresar a la pagina principal</a>
        </div>
        <div *ngIf="cargando" class="row animated fadeIn fast">
          <div class="col-12">
            <div class="alert alert-info text-center" role="alert">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fas fa-sync fa-spin fa-refresh fa-2x"></i>
              <p>Por favor espere</p>
            </div>
          </div>
        </div>
        <div *ngIf="!cargando" class="table-responsive">
          <table class="table table-striped table-bordered first">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>NIT o C.C</th>
                <th>Telefono</th>
                <th>Ciudad</th>
                <th>Barrio</th>
                <th>Dirreccion</th>
                <th>Ajustes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients; trackBy: trackByFn">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.document_number }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.neighborhood }}</td>
                <td>{{ client.direction }}</td>
                <td>
                  <a
                    [routerLink]="['/contable/update-user', client.id]"
                    class="btn btn-sm btn-info mr-2 mb-sm-0 mb-2 text-white"
                    ><i class="fas fa-edit"></i
                  ></a>

                  <button
                    (click)="deleteClient(client.id, client.name)"
                    class="btn btn-sm btn-danger"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav class="mt-4" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <button
                [disabled]="
                  clients.length === 0 || (page === 1 && pageSeach === 1)
                "
                class="page-link cursor"
                (click)="cambioPagina(-1)"
              >
                Anterior
              </button>
            </li>
            <li
              class="page-item"
              routerLinkActive="active"
              *ngFor="let contado of contador; let i = index"
            >
              <a
                *ngIf="!existeSearch"
                class="page-link"
                [routerLink]="['/contable/users']"
                [queryParams]="{ q: contado }"
                >{{ contado }}</a
              >
            </li>
            <li class="page-item">
              <button
                [disabled]="
                  nextDisabled || clients.length === 0 || nextDisabledSearch
                "
                class="page-link cursor"
                (click)="cambioPagina(1)"
              >
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
        <p *ngIf="existeSearch">
          Pagina: {{ pageSeach }} - {{ contador.length }}
        </p>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end basic table  -->
  <!-- ============================================================== -->
</div>
