<div
  *ngIf="!cargando"
  style="background-color: #fff;"
  class="container-fluid"
  id="generar-factura"
>
  <div class="row">
    <div class="col-6">
      <h2 class="mt-1"><strong>FREDDY DE JESUS SIMANCAS CAÑATE</strong></h2>
      <h4>Factura Inmobiliaria</h4>
    </div>
    <div class="col-4">
      <h4>
        <strong class="ml-5"
          >FACTURA DE VENTA No. {{ Factura.facture_number }}</strong
        >
      </h4>
    </div>
    <!-- <div class="col-2 d-flex justify-content-center">
      <span>{{ Factura.facture_number }}</span>
    </div> -->
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <strong>Nit</strong> <span class="ml-3">19222729</span>
        </div>
        <div class="col-12"><h6>Responsable de IVA</h6></div>
        <div class="col-12">
          <h6>C.C LOS EJECUTIVOS LOCAL 8B CARTAGENA - COLOMBIA</h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row ml-5">
        <div class="col-7 border pl-0">
          <h6>POR CONCEPTO DE</h6>
        </div>
        <div class="col-12 border pl-0">
          <h6>FACTURA DE VENTA</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-9 border padding"><h6 class="m-0">CLIENTE</h6></div>
        <div class="col-3 border padding"><h6 class="m-0">NIT</h6></div>
        <div class="col-9 border padding">
          <h6 class="m-0">
            {{ Factura.client_name }} {{ Factura.client_last_name }}
          </h6>
        </div>
        <div class="col-3 border">
          <h6 class="m-0">{{ Factura.client_document_number }}</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">FECHA DE FACTURA</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">FECHA VENCIMIENTO</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.created_at }}
          </h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.facture_date }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4 border"><h6 class="m-0">TELEFONO</h6></div>
        <div class="col-4 border"><h6 class="m-0">CIUDAD</h6></div>
        <div class="col-4 border"><h6 class="m-0">DIRECCION</h6></div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_phone_number }}</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_city }}</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_direction }}</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0">VENDEDOR</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">FORMA DE PAGO</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0">FREDDY DE JESUS SIMANCAS CAÑATE</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 fn">{{ Factura.way_to_pay | uppercase }}</h6>
        </div>
        <!-- <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">VENDEDOR</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">FORMA DE PAGO</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">
            FREDDY DE JESUS SIMANCAS CAÑATE
          </h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.way_to_pay | uppercase }}
          </h6>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 border d-flex justify-content-center">
      <h6>Descripcion</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center">
      <h6>Cantidad</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>U Medida</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Valor Unitario</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>IVA</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Total</h6>
    </div>
  </div>
  <div class="row" style="height: 150px;">
    <div class="col-5 border">
      <div class="row">
        <div class="col-12"><h6>ARRIENDO LOCAL</h6></div>
        <div class="col-12"><h6>CUOTA ORDINARIA DE ADMINISTRACION</h6></div>
        <div class="col-12"><h6>SERVICIO DE AGUA</h6></div>
        <div class="col-12"><h6>SERVICIO DE ENERGIA</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12">
          <h6>
            {{ Factura.place_price | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.administration_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.water_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.energy_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12">
          <h6>{{ Factura.place_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.administration_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.water_service_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.energy_service_vat }}%</h6>
        </div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12">
          <h6>
            {{ Factura.place_price | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.administration_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.water_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.energy_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 border">
          <h6>Valor en Letras</h6>
          <h6>{{ Factura.price_humanized | uppercase }}</h6>
        </div>
        <div class="col-12 border">
          <h6>
            Resolucion de facturacion 18762016287585 del 14-08-2019 rango del
            80001 al 90000
          </h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 border"><h6>SUBTOTAL</h6></div>
        <div class="col-6 border">
          <h6>{{ total_notIva | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>IVA</h6></div>
        <div class="col-6 border">
          <h6>{{ total_vat | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>TOTAL ABONADO</h6></div>
        <div class="col-6 border">
          <h6>{{ total_to_pay | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>PAGO RESTANTE</h6></div>
        <div class="col-6 border">
          <h6>
            {{ total - total_to_pay | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border">
      <h6>
        Consignar en la cuenta de ahorros Bancolombia N° 67870373551 o en la
        cuenta de ahorro del banco de Occidente N° 845829597 a nombre de Freddy
      </h6>
    </div>
    <div class="col-6 prueba">
      <h6 class="prueba">
        Firma Responsable __________________ Recibido Por ________________
      </h6>
    </div>
  </div>
</div>

<div style="margin: 20px 0;">
  <h1>
    -----------------------------------------------------------------------------------
  </h1>
</div>

<div
  *ngIf="!cargando"
  style="background-color: #fff;"
  class="container-fluid"
  id="generar-factura"
>
  <div class="row">
    <div class="col-6">
      <h2 class="mt-1"><strong>FREDDY DE JESUS SIMANCAS CAÑATE</strong></h2>
      <h4>Factura Cliente</h4>
    </div>
    <div class="col-4">
      <h4>
        <strong class="ml-5"
          >FACTURA DE VENTA No. {{ Factura.facture_number }}</strong
        >
      </h4>
    </div>
    <!-- <div class="col-2 d-flex justify-content-center">
      <span>{{ Factura.facture_number }}</span>
    </div> -->
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <strong>Nit</strong> <span class="ml-3">19222729</span>
        </div>
        <div class="col-12"><h6>Responsable de IVA</h6></div>
        <div class="col-12">
          <h6>C.C LOS EJECUTIVOS LOCAL 8B CARTAGENA - COLOMBIA</h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row ml-5">
        <div class="col-7 border pl-0">
          <h6>POR CONCEPTO DE</h6>
        </div>
        <div class="col-12 border pl-0">
          <h6>FACTURA DE VENTA</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-9 border padding"><h6 class="m-0">CLIENTE</h6></div>
        <div class="col-3 border padding"><h6 class="m-0">NIT</h6></div>
        <div class="col-9 border padding">
          <h6 class="m-0">{{ Factura.client_name }}</h6>
        </div>
        <div class="col-3 border">
          <h6 class="m-0">{{ Factura.client_document_number }}</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">FECHA DE FACTURA</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">FECHA VENCIMIENTO</h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.created_at }}
          </h6>
        </div>
        <div class="col-6 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.facture_date }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4 border"><h6 class="m-0">TELEFONO</h6></div>
        <div class="col-4 border"><h6 class="m-0">CIUDAD</h6></div>
        <div class="col-4 border"><h6 class="m-0">DIRECCION</h6></div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_phone_number }}</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_city }}</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">{{ Factura.client_direction }}</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0">VENDEDOR</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0">FORMA DE PAGO</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0">FREDDY DE JESUS SIMANCAS CAÑATE</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 fn">{{ Factura.way_to_pay | uppercase }}</h6>
        </div>
        <!-- <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">VENDEDOR</h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">FORMA DE PAGO</h6>
        </div>
        <div class="col-8 border">
          <h6 class="m-0 d-flex justify-content-center">
            FREDDY DE JESUS SIMANCAS CAÑATE
          </h6>
        </div>
        <div class="col-4 border">
          <h6 class="m-0 d-flex justify-content-center">
            {{ Factura.way_to_pay | uppercase }}
          </h6>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 border d-flex justify-content-center">
      <h6>Descripcion</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center">
      <h6>Cantidad</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>U Medida</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Valor Unitario</h6>
    </div>
    <div class="col-1 border d-flex justify-content-center px-1">
      <h6>IVA</h6>
    </div>
    <div class="col-2 border d-flex justify-content-center px-1">
      <h6>Total</h6>
    </div>
  </div>
  <div class="row" style="height: 150px;">
    <div class="col-5 border">
      <div class="row">
        <div class="col-12"><h6>ARRIENDO LOCAL</h6></div>
        <div class="col-12"><h6>CUOTA ORDINARIA DE ADMINISTRACION</h6></div>
        <div class="col-12"><h6>SERVICIO DE AGUA</h6></div>
        <div class="col-12"><h6>SERVICIO DE ENERGIA</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
        <div class="col-12"><h6>1.00</h6></div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
        <div class="col-12"><h6>Und.</h6></div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12">
          <h6>
            {{ Factura.place_price | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.administration_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.water_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.energy_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col-1 border">
      <div class="row">
        <div class="col-12">
          <h6>{{ Factura.place_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.administration_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.water_service_vat }}%</h6>
        </div>
        <div class="col-12">
          <h6>{{ Factura.energy_service_vat }}%</h6>
        </div>
      </div>
    </div>
    <div class="col-2 border">
      <div class="row">
        <div class="col-12">
          <h6>
            {{ Factura.place_price | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.administration_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.water_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
        <div class="col-12">
          <h6>
            {{
              Factura.energy_service_price
                | currency: "COP":"symbol-narrow":".0-0"
            }}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 border">
          <h6>Valor en Letras</h6>
          <h6>{{ Factura.price_humanized | uppercase }}</h6>
        </div>
        <div class="col-12 border">
          <h6>
            Resolucion de facturacion 18762016287585 del 14-08-2019 rango del
            80001 al 90000
          </h6>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 border"><h6>SUBTOTAL</h6></div>
        <div class="col-6 border">
          <h6>{{ total_notIva | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>IVA</h6></div>
        <div class="col-6 border">
          <h6>{{ total_vat | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>TOTAL ABONADO</h6></div>
        <div class="col-6 border">
          <h6>{{ total_to_pay | currency: "COP":"symbol-narrow":".0-0" }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6 border"><h6>PAGO RESTANTE</h6></div>
        <div class="col-6 border">
          <h6>
            {{ total - total_to_pay | currency: "COP":"symbol-narrow":".0-0" }}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border">
      <h6>
        Consignar en la cuenta de ahorros Bancolombia N° 67870373551 o en la
        cuenta de ahorro del banco de Occidente N° 845829597 a nombre de Freddy
      </h6>
    </div>
    <div class="col-6 prueba">
      <h6 class="prueba">
        Firma Responsable __________________ Recibido Por ________________
      </h6>
    </div>
  </div>
</div>
<button
  style="margin-top: 150px;"
  (click)="generarPDF()"
  class="btn btn-primary"
>
  Imprimir
</button>

<button
  style="margin-top: 150px;"
  (click)="atras()"
  class="btn btn-primary ml-4"
>
  Regresar Atras
</button>
