<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Servicios
          </li>
          <li class="nav-item cursor">
            <a
              class="nav-link"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#clientes"
              aria-controls="clientes"
            >
              <i class="fas fa-users"></i>Clientes
            </a>
            <div id="clientes" class="collapse submenu">
              <ul class="nav flex-column">
                <li *ngFor="let rlClient of routerLinkClient" class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="[rlClient.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlClient.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item cursor">
            <a
              class="nav-link"
              href="#"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#locales"
              aria-controls="locales"
              ><i class="fas fa-building"></i>Locales</a
            >
            <div id="locales" class="collapse submenu">
              <ul class="nav flex-column">
                <li *ngFor="let rlLocal of routerLinkLocal" class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="[rlLocal.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlLocal.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item cursor">
            <a
              class="nav-link"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#factura"
              aria-controls="factura"
            >
              <i class="fas fa-file-alt"></i>Facturas
            </a>
            <div id="factura" class="collapse submenu">
              <ul class="nav flex-column">
                <li
                  *ngFor="let rlFactura of routerLinkFacturas"
                  class="nav-item"
                >
                  <a
                    class="nav-link"
                    [routerLink]="[rlFactura.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlFactura.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item cursor">
            <a
              class="nav-link"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#abono"
              aria-controls="abono"
            >
              <i class="fas fa-money-bill-wave"></i>Abonos
            </a>
            <div id="abono" class="collapse submenu">
              <ul class="nav flex-column">
                <li *ngFor="let rlAbono of routerLinkAbonos" class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="[rlAbono.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlAbono.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item cursor">
            <a
              class="nav-link"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#profile"
              aria-controls="profile"
            >
            <i class="fas fa-id-card"></i>Cuenta
            </a>
            <div id="profile" class="collapse submenu">
              <ul class="nav flex-column">
                <li *ngFor="let rlUser of routerLinkUser" class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="[rlUser.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlUser.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li (click)="logout()" class="nav-divider cursor">
            Cerrar Session
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
<!-- <div id="abono" class="collapse submenu">
              <ul class="nav flex-column">
                <li *ngFor="let rlAbono of routerLinkAbonos" class="nav-item">
                  <a
                    class="nav-link"
                    [routerLink]="[rlAbono.url]"
                    routerLinkActive="active"
                    class="nav-link"
                    >{{ rlAbono.name }}</a
                  >
                </li>
              </ul>
            </div> -->
